<html>
<h1>$rom</h1>
<a href="update.$rom.zip">update.$rom.zip</a><br/>
<a href="update.$rom.zip.sha512">update.$rom.zip.sha512</a><br/>
<a href="versions.$rom.txt">versions.$rom.txt</a><br/>
<a href="versions.$rom.txt.sha512">versions.$rom.txt.sha512</a><br/>
</html>
