<html>
<h1>VERSION</h1>
<a href="update.VERSION.zip">update.VERSION.zip</a><br/>
<a href="update.VERSION.zip.sha512">update.VERSION.zip.sha512</a><br/>
<a href="versions.VERSION.txt">versions.VERSION.txt</a><br/>
<a href="versions.VERSION.txt.sha512">versions.VERSION.txt.sha512</a><br/>
</html>
